  <nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <% if user_signed_in? %>
        <h1 class="logo"><%= link_to 'エヌ・ストレージ', root_path %></h1>
        <i class="fa fa-times-circle menu-close"></i>
        <%= link_to 'トップページ', root_path %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <h1 class="logo"><%= link_to 'エヌ・ストレージ', root_path %></h1>
        <i class="fa fa-times-circle menu-close"></i>
        <%= link_to 'トップページ', root_path %>
        <%= link_to 'ログイン', new_user_session_path %>
        <%= link_to '新規登録', new_user_registration_path%>
      <% end %>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="fa fa-bars"></i></div>
  </nav>