<h1>hello</h1>
<%= form_with model: @memorie, url: memories_path, local: true do |f| %>
  <div>内容記載欄</div>
  <%= f.text_field :description, placeholder:"思い出を記述してください" ,maxlength:"1000" %>
  <%= f.file_field :image %>
   <div class="field">
   <%= f.label :prefecture, "都道府県" %>
      <%= f.hidden_field :prefecture_id, value: params[:format]%>
   </div>
  <%= f.submit "投稿する" %>
  <%=link_to 'もどる', root_path %>
<% end %>